body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    /*text-align: center;*/
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

h1 {
    text-align: center;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


.cover .btn-lg {
    font-weight: bold;
}

.basemap {
    fill: #87765D;
    stroke: #534742;
    stroke-width: .5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: all;
    opacity: 0.8;
}

.label {
    fill: #28f43f;
    stroke-width: 0.2px;
    text-anchor: middle;
    opacity: 0.8;
    pointer-events: all;
    text-shadow: none;
}

.chordlabel{
    font-size: 9px;
    text-anchor: middle;
    opacity: 0.8;
    pointer-events: all;
    text-shadow: none;
}


.chordMuteRibbon {
    opacity: 0.1;
}

.chordHighlightRibbon {
    opacity: 0.95;
}

.overlay {
    fill: none;
    pointer-events: all;
    z-index : -1
}

#contentrow {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#contentrowfor3D{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#bottemCharts {
    bottom: 55px;
    width: 40%;
    height: 20%;
    left: 30%;
    display: flex;
    position: absolute;
}

#checkboxcontainer {
    align: left;
    top: 20%;
    left: 5%;
    position: absolute;
    z-index: 1;
}

.statuslabel {
    font-size: 15px;
}

#sliderbarcontainer {
    top: 95%;
    height: 10%;
    width: 100%;
    background: rgba(22, 86, 134, 0.57);
    opacity: 1;
    filter: alpha(opacity=40);
    z-index: 1;
    position: absolute;
}

#ex1Slider {
    background: rgba(22, 86, 134, 0.57);
    opacity: 0.4;
    filter: alpha(opacity = 40);
    height: 100%;
    width: 100%;
    position: absolute;
}

#barchartcontainer{
    bottom: 10%;
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: 0;
}

.bar {
    fill: #2980B9
}

#pieChart{
    position: absolute;
    left: 5%;
    bottom: 50px;
    height: 300px;
    width: 300px;
}

#chrodChart{
    position: absolute;
    right: 5%;
    bottom: 50px;
    height: 300px;
    width: 300px;
}

.flows {
    fill: none;
    opacity: 0.3;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: all;
}

.nodes{
    fill: #1cb6e2;
    z-index: 2;
    r : 3
}

.map_div{
    position: absolute;
    width: 2800px;
    height: 2400px;
}

.port{
    fill: #3fd464;
}

.ring{
    opacity: 0.6;

}

.piechart{
    opacity: 0.6;
}

.chordribbons{
    opacity: 0.5;
}